{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10 col-12 ml-auto mr-auto">
      <div class="content-section-flex mb-4">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="ml-3 media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="font-weight: 800;">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-danger prof-sub" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}