{% load static %}
{% url 'cart:home' as cart_url %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Music Shop - {{ title }}</title>
    {% else %}
        <title>Music Shop</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/341eecbcd4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="{% static 'scripts/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'stripe/stripe.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/media.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/social2.png' %}">
    <script src="https://js.stripe.com/v3/"></script> 
</head>
<body>
    <!-- PRELOADER -->
    <!-- <div class="mask">
        <div class="loader">

        </div>
    </div> -->

    <div class="page">
    <!--  Scroll to top button -->
    <button class="btn-top"><i class="fas fa-chevron-up"></i></button>

    <!-- Sidemenu -->
	<div class="sidebar">
        <h1 class="nt-5">Menu</h1>
		<ul>
			<li><a href="{% url 'home' }">Home</a></li>
			<li><a href="{% url 'all_arrivals' %}">Arrivals</a></li>
            <li><a href="{% url 'all_albums' %}">Albums</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="mr-3">Login</a></li>
                <li><a href="{% url 'register' %}" class="mr-3">Register</a></li>
            {% endif %}
		</ul>
		<button class="sidebarBtn">
			<span></span>
		</button>
	</div>
    <!-- HEADER -->
    <header class="header">
        <div class="header-top-line"> 
        </div>
        <div class="user-header">
            <div class="container" style="height: 100%;">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4 col-12" style="height: 100%;">
                        <div class="socials">
                            <ul class="social-ul">
                                <li><a href="#"><img src="{% static 'images/social1.png' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/social2.png' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/social3.png' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/social4.png' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'images/social5.png' %}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-2 col-md-6 col-sm-8 col-12">
                        <div class="user-actions">
                            <ul class="user-ul">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'profile' %}">Profile</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}" class="mr-3">Login</a></li>
                                    <li><a href="{% url 'register' %}" class="mr-3">Register</a></li>
                                {% endif %}
                                <li class="cart-li"><a href="{% url 'cart' %}"><i class="fas fa-shopping-basket"></i>Cart ({{ request.session.cart_items }})</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cat-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12" style="height: 100%;">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-0 col-sm-0 col-0">
                        <div class="menu">
                            <ul class="menu-ul">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'all_arrivals' %}">Arrivals</a></li>
                                <li><a href="{% url 'all_albums' %}">Albums</a></li>
                                <li><a href="{% url 'news' %}">News</a></li>
                                <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- MAIN CONTENT -->
    <main class="main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-line"></div>
        <div class="footer-upper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-about">
                            <h1>Little about us</h1>
                            <p>Sed posuere consectetur  est at. 
                                Nulla vitae elit libero, a pharetra. 
                                Lorem ipsum dolor sit amet, conse
                                ctetuer adipiscing elit.</p>
                            <h3>Socialize with us</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-archive">
                            <h1>Our Archives</h1>
                            <ul class="footer-archive-ul">
                                <li><a href="#">March 2012  </a></li>
                                <li><a href="#">February 2012    </a></li>
                                <li><a href="#">January 2012    </a></li>
                                <li><a href="#">December 2011    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-posts">
                            <h1>Popular Posts</h1>
                            <div class="footer-post">
                                <div class="footer-post-img">
                                    
                                </div>
                                <div class="footer-post-text">
                                    <h3>Great Album</h3>
                                    <p><i class="fas fa-comment-alt"></i>12 COMMENTS</p>
                                </div>
                            </div>
                            <div class="footer-post">
                                <div class="footer-post-img">
                                   
                                </div>
                                <div class="footer-post-text">
                                    <h3>Great Album</h3>
                                    <p><i class="fas fa-comment-alt"></i>12 COMMENTS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-search">
                            <h1>Search our Site</h1>
                            <form class="form-inline search-form mt-4" action="{% url 'search' %}">
                                <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search" name="q">
                                <button class="btn btn-outline-success mt-3 search-btn" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="container">
                <div class="footer-lower-block">
                    <ul class="footer-lower-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <p>Musica @2013 by PremiumCoding | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/slick/slick.min.js' %}"></script>
    <!-- STRIPE  -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- JS Render -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.6/jsrender.min.js"></script>
    {% include 'js_templates.html' %}
    <!-- CSRF_AJAX -->
    <script src='{% static "csrf.ajax.js" %}'></script>
    <script src="{% static 'stripe/stripe.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>