{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- WELCOME HEADER -->
<div class="welcome">
    <div class="upper-line"></div>
    WELCOME TO  <span>MUSICA,</span>  CHECK OUR LATEST ALBUMS
    <div class="lower-line"></div>
</div>
<!-- OPTIONS -->
<div class="collection-albums-option mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="option my-3">
                <a href="#" class="option-wrapper"></a>
                <div class="option-upper">
                    <img src="{% static 'images/cd.png' %}" alt="">
                    <h1>CHECK OUR CD COLLECTION</h1>
                </div>
                <div class="option-lower">
                    <p>Donec pede justo, fringilla vel, al, vulputate 
                        eget, arcu. In enim justo, lorem ipsum.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="option my-3">
                <a href="#" class="option-wrapper"></a>
                <div class="option-upper">
                    <img src="{% static 'images/hp.png' %}" alt="">
                    <h1>LISTEN BEFORE PURCHASE</h1>
                </div>
                <div class="option-lower">
                    <p>Donec pede justo, fringilla vel, al, vulputate 
                        eget, arcu. In enim justo, lorem ipsum.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="option my-3">
                <a href="#" class="option-wrapper"></a>
                <div class="option-upper">
                    <img src="{% static 'images/cal.png' %}" alt="">
                    <h1>UPCOMING EVENTS</h1>
                </div>
                <div class="option-lower">
                    <p>Donec pede justo, fringilla vel, al, vulputate 
                        eget, arcu. In enim justo, lorem ipsum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ARRIVALS -->
<div class="arrivals">
    <div class="arrivals-top">
        LATEST ARRIVALS IN MUSICA
    </div>
    <div class="arrivals-bottom">
        {% if arrivals %}
        <div class="row arrivals-slider">
            {% for arrival in arrivals %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="arrival">
                    <div class="arrival-upper">
                        {% if arrival.discount_price %}
                        <div class="sale">
                            SALE
                        </div>
                        {% endif %}
                        <img src="{{ arrival.image.url }}" alt="">
                    </div>
                    <div class="arrival-lower">
                        <div class="arrival-lower-upper">
                            <h1><a href="{% url 'product_detail' arrival.slug %}">{{ arrival.title }}</a></h1>
                        </div>
                        <h2 class="author-name">by <span>{{ arrival.author|capfirst }}</span></h2>
                        <!-- <div class="rating">
                            <ul class="rating-ul">
                                <li><img src="images/star.png" alt=""></li>
                                <li><img src="images/star.png" alt=""></li>
                                <li><img src="images/star.png" alt=""></li>
                                <li><img src="images/star.png" alt=""></li>
                                <li><img src="images/no-star.png" alt=""></li>
                            </ul>
                        </div> -->
                        <div class="desc">
                            {{ arrival.short_desc }}
                        </div>
                        <div class="arrival-lower-lower">
                            {% if arrival.discount_price %}
                                <div class="price"><strike>${{ arrival.price }}</strike><span>${{ arrival.discount_price }}</span> </div>
                            {% else %}
                                <div class="price">${{ arrival.price }}</div>
                            {% endif %}
                            <a class="add-to-cart" href="{% url 'cart_update' arrival.slug %}"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<!-- ALBUMS -->
<div class="albums">
    <div class="albums-top">
        ALBUMS CURRENTLY ON SALE
    </div>
    <div class="albums-bottom">
        {% if albums %}
        <div class="row albums-slider">
            {% for album in albums %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="album">
                    <div class="album-upper">
                        <img src="{{ album.image.url }}" alt="">
                        {% if album.discount_price %}
                        <div class="sale">
                            SALE
                        </div>
                        {% endif %}
                    </div>
                    <div class="album-lower">
                        <div class="arrival-lower-upper">
                            <h1><a href="{% url 'product_detail' album.slug %}">{{ album.title }}</a></h1>
                        </div>
                        <h2 class="author-name">by <span>{{ album.author|capfirst }}</span></h2>
                        <!-- <div class="rating">
                            <ul class="rating-ul">
                                <li><img src="images/star.png" alt=""></li>
                                <li><img src="images/star.png" alt=""></li>
                                <li><img src="images/star.png" alt=""></li>
                                <li><img src="images/star.png" alt=""></li>
                                <li><img src="images/no-star.png" alt=""></li>
                            </ul>
                        </div> -->
                        <div class="desc">
                            {{ album.short_desc }}
                        </div>
                        <div class="album-lower-lower">
                            {% if album.discount_price %}
                            <div class="price"><strike>${{ album.price }}</strike><span>${{ album.discount_price }}</span> </div>
                            {% else %}
                                <div class="price">${{ album.price }}</div>
                            {% endif %}
                            <a class="add-to-cart" href="{% url 'cart_update' album.slug %}"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<!-- PUBLISHERS -->
<div class="publishers">
    <div class="publishers-top">
        OUR MOST IMPORTANT PUBLISHERS
    </div>
    <div class="publishers-bottom">
        {% if publishers %}
        <div class="row publishers-slider">
            {% for publisher in publishers %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <div class="publisher">
                    <a href="{% url 'publisher_works' publisher.name %}"></a>
                    <img src="{{ publisher.logo.url }}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}