{% extends 'base.html' %}
{% block content %}
<div class="welcome">
    <div class="upper-line"></div>
    All  <span>Arrivals</span>
    <div class="lower-line"></div>
</div>
{% if arrivals %}
    <div class="row mt-5">
        {% for arrival in arrivals %}
        <div class="col-lg-3 col-md-6 col-sm-10 col-12 mr-auto ml-auto mt-3 mb-3">
            <div class="arrival">
                <div class="arrival-upper">
                    <img src="{{ arrival.image.url }}" alt="">
                </div>
                <div class="arrival-lower">
                    <div class="arrival-lower-upper">
                        <h1><a href="{% url 'product_detail' arrival.slug %}">{{ arrival.title }}</a></h1>
                    </div>
                    <h2 class="prod-author">By <span>{{ arrival.author.name }}</span></h2>
                    <!-- <div class="rating">
                        <ul class="rating-ul">
                            <li><img src="images/star.png" alt=""></li>
                            <li><img src="images/star.png" alt=""></li>
                            <li><img src="images/star.png" alt=""></li>
                            <li><img src="images/star.png" alt=""></li>
                            <li><img src="images/no-star.png" alt=""></li>
                        </ul>
                    </div> -->
                    <div class="desc">
                        {{ arrival.short_desc }}
                    </div>
                    <div class="arrival-lower-lower">
                        {% if arrival.discount_price %}
                        <div class="price"><strike>${{ arrival.price }}</strike><span>${{ arrival.discount_price }}</span> </div>
                        {% else %}
                            <div class="price">${{ arrival.price }}</div>
                        {% endif %}
                        <a class="add-to-cart" href="{% url 'cart_update' arrival.slug %}"><i class="fas fa-shopping-basket"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}